<div class="post-info-container" data-test-post-info-container>
  <div class="title" data-test-post-title>
    {{@postData.title}}
  </div>

  <div class="body" data-test-post-body>
    {{@postData.body}}
  </div>
</div>