/**
 * This is the theme of our application. Nothing should be changed here.
 */

/* Colors */
$primary: #e2473e;
$primary-light: #ff6f62;
$primary-dark: #a22b25;
$secondary: #8bbdc8;
$secondary-dark: #378899;
$tertiary: #f4a76c;
$light: #fed;
$extra-light: #fffdfb;
$dark: #3e3b3b;
$primary-gradient: radial-gradient(circle, $primary-light 11%, $primary 61%, $primary-dark 90%);
$secondary-gradient: radial-gradient(circle, $secondary 11%, $secondary-dark 90%);

/* Box shadows */
$shadow-dark: 0 3px 11px 0 rgba(0,0,0,0.30);
$shadow-light: 0 3px 11px 0 rgba(0,0,0,0.15);

/* Breakpoints */
$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

/* Some useful font-sizes to be used across the code. */
$font-xs: 1rem; // 16px
$font-sm: 1.25rem; // 20px
$font-md: 1.5rem; // 24px
$font-lg: 1.75rem; // 28px
$font-xl: 2rem; // 32px