.loading-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loading {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fed;
  border-color: #fed transparent; 
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
