@use "../base/theme";

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid theme.$primary-dark;
    border-color: theme.$primary transparent; 
    animation: loading 1.2s linear infinite;
  }
}
