@use "../base/theme";

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
}

.modal-content {
  position: absolute;
  overflow: auto;
  word-break: break-word;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid theme.$primary-dark;

  // Sets the dimensions of the modal.
  height: 60%;
  width: 60%;
  min-width: 300px;
  min-height: 150px;
  
  // Aligns the modal to the center of the page.
  transform: translate(-50%,-30%);
  top: 30%;
  left: 50%;
}

.close-button {
  display: block;
  font-size: 25px;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 10px 30px;
  color: theme.$primary-dark;
  border-radius: 5px;
  transition: all 0.3s;

  &:hover {
    transform: rotate(180deg);
    transition: all 0.3s;
  }

  &::after {
    content: "X";
  }
}