@use "../base/theme";

.modal {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.7);

  .content {
    word-break: break-word;
    margin: 5% auto;
    background-color: white;
    border: 2px solid theme.$primary-dark;
    border-radius: 5px;
    box-shadow: theme.$shadow-dark;
  
    // Sets the dimensions of the modal.
    height: 80%;
    width: 90%;
    overflow-y: auto;

    .header {
      width: 100%;
      background-color: theme.$primary-dark;
      display: flex;
      justify-content: flex-end;
    
      box-shadow: theme.$shadow-light;
    }
  }
}

.close-button {
  display: block;
  font-size: theme.$font-md;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0.625rem 1.875rem; // 10px 30px
  color: white;
  border-radius: 5px;
  transition: transform 0.5s;
  margin-right: 10px;

  &:hover {
    transform: rotate(180deg);
    transition: transform 0.5s;
  }

  &::after {
    content: "X";
  }
}