.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
}

.modal-content {
  position: absolute;
  overflow: auto;
  word-break: break-word;
  background: radial-gradient(circle, rgba(210,70,70) 0%, rgba(172,63,63) 70%);
  border-radius: 10px;
  padding: 10px;

  // Sets the dimensions of the modal.
  height: 60%;
  width: 60%;
  min-width: 300px;
  min-height: 150px;
  
  // Aligns the modal to the center of the page.
  transform: translate(-50%,-30%);
  top: 30%;
  left: 50%;
}

.close-button {
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: none;
  border: 1px solid #ffeedd;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  display: inline-block;
  transition: all 0.3s;

  &:hover {
    color: rgba(172, 63, 63);
    background-color: #fff;
    transition: all 0.3s;
  }

  &::after {
    content: "X";
  }
}