.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.7);
}

.modal-content {
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  word-break: break-word;
  height: 50%;
  width: 50%;
  min-width: 300px;
  min-height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}