@use "../base/theme";

/**
 * Default width used by posts-container and pages-container.
 */
$containers-base-width: 80%;

@mixin pagination-hover-effect {
  &:hover {
    font-weight: bold;
    color: black;
  }
}

/**
 * Mixin to reset the configuration of the posts-container grid. It's useful to set the media queries.
 */
@mixin reset-posts-container-grid($row-size, $width, $padding, $gap) {
  width: $width;
  padding: $padding;

  grid-template: $row-size / auto;
  grid-auto-rows: $row-size;
  row-gap: $gap;
}

.posts-container {
  @include reset-posts-container-grid(
    40px,
    $containers-base-width ,
    5%,
    20px
  );

  margin: auto;
  display: grid;
  
  .post {
    border: 1px solid theme.$secondary-dark;
    border-radius: 10px;
    transition: all 0.2s;
    padding: 0 10px;
  
    // Aligns the text to the center.
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover {
      background-color: theme.$secondary;
      border-color: theme.$secondary;
      color: white;
  
      transition: all 0.2s;
    }
  }
}

.pages-container {
  color: theme.$dark;
  width: $containers-base-width;
  font-size: 20px;
  margin: 0px auto;
  padding: 5% 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  .pages-segment {
    display: flex;

    .active-page {
      background-color: theme.$secondary-dark;
      color: white;
    }

    /* The first segment must have a "..." after it, and the last one must have a "..." before. This
    way, we shall have something like this: [W] ... [X,Y] ... [Z]. [W] will be the first segment and [Z]
    will be the last one. */
    &:first-of-type::after {
      content: "...";
    }
    &:last-of-type::before {
      content: "...";
    }
  }

  .page {
    @include pagination-hover-effect;

    margin: 0 5px;

    .page-link {
      text-decoration: none;
      outline: none;
      color: inherit;
      padding: 10px;

      &:visited {
        color: inherit;
      }
    }
  }

  .arrow {
    @include pagination-hover-effect;

    cursor: pointer;
  }
}

/* Media query for extra small devides (width <= 320px) */
@media screen and (max-width: theme.$xs) {
  $containers-width: 95%;

  .posts-container {
    @include reset-posts-container-grid(80px, $containers-width, 0, 20px);
  }

  .pages-container {
    width: $containers-width;
  }
}

/* Media query for medium devides (321px <= width <= 600px) */
@media screen and (min-width: calc(#{theme.$xs} + 1px)) and (max-width: theme.$md) {
  $containers-width: 80%;

  .posts-container {
    @include reset-posts-container-grid(80px, $containers-width, 0, 20px);
  }

  .pages-container {
    width: $containers-width;
  }
}

/* Media query for large devides (width >= 601px) */
@media screen and (min-width: calc(#{theme.$md} + 1px)) {
  $containers-width: 50%;
  $max-containers-width: 600px;

  .posts-container {
    @include reset-posts-container-grid(60px, $containers-width, 0, 20px);
    margin-top: 20px;
    max-width: $max-containers-width;
  }

  .pages-container {
    width: $containers-width;
    max-width: $max-containers-width;
  }
}