@use "../../base/theme";
@use "post-info";
@use "user-info";

/**
 * Default width used by posts-container and pages-container.
 */
$containers-base-width: 90%;

@mixin pagination-hover-effect {
  &:hover {
    font-weight: bold;
    color: black;
  }
}

/**
 * Mixin to set the configuration of the posts-container grid. It's useful to set the media queries.
 */
@mixin set-posts-container-grid($row-size, $width, $padding, $gap) {
  width: $width;
  padding: $padding;

  grid-template: $row-size / auto;
  grid-auto-rows: $row-size;
  row-gap: $gap;
}

.modal-content-container {
  padding: 0.625rem;
}

.posts-container {
  margin: auto;
  display: grid;
  margin-top: 1.25rem; // 20px
  @include set-posts-container-grid(6.25rem, $containers-base-width, 0, 1.25rem);

  .post {
    border: 1px solid theme.$secondary-dark;
    border-radius: 10px;
    padding: 0.625rem; // 10px
    box-shadow: theme.$shadow-dark;
    transition: background-color 0.2s;
  
    // Aligns the text to the center.
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    &:hover {
      background-color: theme.$secondary;
      border-color: theme.$secondary;
      color: white;
  
      transition: background-color 0.2s;
    }
  }
}

.pages-container {
  color: theme.$dark;
  width: $containers-base-width;
  font-size: theme.$font-sm;
  margin: 5% auto 0px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  .pages-segment {
    display: flex;

    .page {
      @include pagination-hover-effect;
  
      margin: 0 0.3125rem; // 5px
  
      .page-link {
        text-decoration: none;
        outline: none;
        color: inherit;
        padding: 0.625rem; // 10px
  
        &:visited {
          color: inherit;
        }
      }
    }

    .active-page {
      background-color: theme.$secondary-dark;
      color: white;
    }

    /* The first segment must have a "..." after it, and the last one must have a "..." before. This
    way, we shall have something like this: [W] ... [X,Y] ... [Z]. [W] will be the first segment and [Z]
    will be the last one. */
    &:first-of-type::after {
      content: "...";
    }
    &:last-of-type::before {
      content: "...";
    }
  }

  .arrow {
    @include pagination-hover-effect;

    cursor: pointer;
  }
}

/* Media query for medium devides (600px <= width < 960px) */
@media screen and (min-width: theme.$sm) {
  $containers-width: 75%;

  .posts-container {
    // row-size of 80px
    @include set-posts-container-grid(5rem, $containers-width, 0, 1.25rem);

    .post {
      font-size: 1.125rem; // 18px
    }
  }

  .pages-container {
    width: $containers-width;
    font-size: theme.$font-md;
  }
}

/* Media query for large devides (width >= 960px) */
@media screen and (min-width: theme.$md) {
  $containers-width: 50%;
  $max-containers-width: 37.5rem; //600px

  .modal-content-container {
    display: flex;
    height: 30rem;
  }

  .posts-container {
    max-width: $max-containers-width;

    .post {
      font-size: theme.$font-sm;
    }
  }

  .pages-container {
    width: $containers-width;
    max-width: $max-containers-width;
    margin-top: 3%;
  }
}