@use "../../base/theme";

$xs-xs-mobile-screen: 320px;

.user-info-container {
  display: grid;
  grid-template-rows: repeat(5, 2.5rem); // 40px
  grid-template-columns: repeat(2, auto);
  row-gap: 1rem; // 16px
  margin-top: 1.25rem; // 20px

  align-items: center;
  justify-items: center;

  .item {
    justify-self: left;
    min-width: 13.75rem; // 220px
    font-size: 1.125rem; // 18px
  }
}

/**
 * Media query exclusively for mega small screens (such as
 * iphone 5's one).
 */
 @media screen and (max-width: $xs-xs-mobile-screen) {
  .user-info-container {
    .item {
      font-size: theme.$font-xs;
    }
  }
}

/* Media query for medium devices (600px <= width < 960px)*/
@media screen and (min-width: theme.$sm) {
  .user-info-container {
    margin-left: 0.625rem; // 10px
    width: 100%;
    grid-template-rows: repeat(3, 5rem); // 40px
    grid-template-columns: repeat(4, auto);
  }
}

/* Media query for large devices (width >= 960px) */
@media screen and (min-width: theme.$md) {
  .user-info-container {
    margin-left: 0.625rem; // 10px
    width: 100%;
    grid-template-rows: repeat(5, 5rem); // 40px
    grid-template-columns: repeat(2, auto);
  }
}